<!-- begin::Header -->
<div class="card" style="min-width: 90vw;">
  <div class="card-body border-0 pt-5">

    <form [formGroup]="quotefilterForm" novalidate="" class="form">
      <table>
        <tr>
          <td>
            <label class="min-w-100px me-5 fw-bold mb-1 fs-5"> Department:</label>
          </td>
          <td>
            <label class="min-w-100px me-5 fw-bold mb-1 fs-5">Account Manager:</label>
          </td>
          <td>
            <label class="min-w-100px me-5 fw-bold mb-1 fs-5">Status:</label>
          </td>
          <td>
            <label class="min-w-100px me-5 fw-bold mb-1 fs-5">Year:</label>
          </td>
          <td>
            <label class="min-w-100px me-5 fw-bold mb-1 fs-5">Month:</label>
          </td>
          <td>
            <label class="min-w-100px me-5 fw-bold mb-1 fs-5">Status Type: </label>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <select
              class="form-select form-select-solid fw-bold text-dark fs-5 me-5"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
              formControlName="Department"
              style="font-size:10pt;width:150px;padding: 4px;"
              >
                  <option class = "fw-bold text-dark me-5" value="A">All</option>
                  <option class = "fw-bold text-dark me-5" value="M">AM</option>
                  <option class = "fw-bold text-dark me-5" value="S">Sales</option>
            </select>
          </td>
          <td>
            <select
              class="form-select form-select-solid fw-bold text-dark fs-5 me-5"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
              formControlName="AccountManager"
              style="font-size:10pt;width:150px;padding:4px;"
            >
              <option class = "fw-bold text-dark me-5" value="A" selected>All</option>
              <option class = "fw-bold text-dark me-5" *ngFor="let mgr of accountManagers" [value]="mgr.text">
                {{mgr.text}}
              </option>
            </select>
          </td>
          <td>
            <select
              class="form-select form-select-solid fw-bold text-dark fs-5 me-5"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
              formControlName="QuoteStatus"
              style="font-size:10pt;width:150px;padding: 4px;"
            >
            <option class = "fw-bold text-dark me-5" value="A">All</option>
            <option class = "fw-bold text-dark me-5" *ngFor="let status of quoteStatus" [value]="status.statusCode">{{status.statusDesc}}</option>
          </select>
          </td>
          <td>
            <select
              class="form-select form-select-solid fw-bold text-dark fs-5 me-5"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
              style="font-size:10pt;width:150px;padding:4px;"
              formControlName="Year"
             >
              <option class = "fw-bold text-dark me-5" *ngFor="let year of fiscalYears" [value]="year">
                {{year}}
              </option>
            </select>
          </td>
          <td>
            <select
              class="form-select form-select-solid fw-bold text-dark fs-5 me-5"
              data-kt-select2="true"
              data-placeholder="Select option"
              data-allow-clear="true"
              style="font-size:10pt;width:150px;padding: 4px;"
              formControlName="Month"
             >
              <option class = "fw-bold text-dark me-5" *ngFor = "let month of months" [value]="month.value">{{month.Text}}</option>
            </select>
          </td>
          <td>
            <div class="col-lg-12">
              <select
                class="form-select form-select-solid fw-bold text-dark fs-5 me-5"
                data-kt-select2="true"
                data-placeholder="Select option"
                data-allow-clear="true"
                formControlName="Statustype"
                style="font-size:10pt;width:150px;padding: 4px;"
                >
                <option class = "fw-bold text-dark me-5" value="0">Active</option>
                <option class = "fw-bold text-dark me-5" value="1">Archive</option>
              </select>
            </div>
          </td>
          <td>
            <div class="input-group fw-bold text-dark fs-5 me-5">
              <input type="text" class="form-control form-control-sm fw-bold text-dark fs-5 me-5" style="border-color: black;" placeholder="Search" formControlName="QuoteID" (keyup.enter)="SearchQuotes()">
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm" type="button" (click)="SearchQuotes()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </form>
    </div>
</div>
  <div class="card card-xxl-stretch">
    <div class="card-header border-0 pt-5">
      <div style="text-align: right;"
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Import Quotes"
      >
      <button type="button" class="btn btn-primary me-3" (click)="openChangeStatusModal()" [disabled]="selectedQuotes.length <= 0">Change Status</button>
      <button type="button" class="btn btn-primary" (click)="importQuotes()">Import Quotes</button>
      </div>
    </div>
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4" >
        <!-- begin::Table head -->
        <thead>
          <tr class="text-dark fw-bolder badge-light-primary" style="font-size: medium;">
            <th class="min-w-100px text-hover-primary" (click)="sortTable('quoteID')" style="cursor: pointer;">Quote Id <i class="fa" [ngClass]="sortIcon('quoteID')"></i></th>
            <th class="min-w-80px text-hover-primary" (click)="sortTable('custNmbr')" style="cursor: pointer;">Site Id <i class="fa" [ngClass]="sortIcon('custNmbr')"></i></th>
            <th class="min-w-115px text-hover-primary" (click)="sortTable('custName')" style="cursor: pointer;">Site Name <i class="fa" [ngClass]="sortIcon('custName')"></i></th>
            <th class="min-w-150px text-hover-primary" (click)="sortTable('contactName')" style="cursor: pointer;">Contact Name <i class="fa" [ngClass]="sortIcon('contactName')"></i></th>
            <th class="min-w-105px text-hover-primary" (click)="sortTable('status')" style="cursor: pointer;">Status <i class="fa" [ngClass]="sortIcon('status')"></i></th>
            <th class="min-w-150px text-hover-primary" (click)="sortTable('notes')" style="cursor: pointer;">Description <i class="fa" [ngClass]="sortIcon('notes')"></i></th>
            <th class="min-w-100px text-hover-primary" (click)="sortTable('quotePriority')" style="cursor: pointer;">Priority <i class="fa" [ngClass]="sortIcon('quotePriority')"></i></th>
            <th class="min-w-150px text-hover-primary" (click)="sortTable('quoteOwner')" style="cursor: pointer;">Quote Owner <i class="fa" [ngClass]="sortIcon('quoteOwner')"></i></th>
            <th class="min-w-150px text-hover-primary" (click)="sortTable('quotedOn')" style="cursor: pointer;">Quote On <i class="fa" [ngClass]="sortIcon('quotedOn')"></i></th>
            <th class="min-w-105px text-hover-primary" (click)="sortTable('quoteAmount')" style="cursor: pointer;">Amount <i class="fa" [ngClass]="sortIcon('quoteAmount')"></i></th>
            <th class="min-w-25px">Edit</th>
            <th class="min-w-100px">
              Select
              <input
                class="form-check-input widget-9-check"
                style="border:solid; border-color: lightblue; cursor: pointer;"
                type="checkbox"
                [checked]="selectedQuotes.length === quotesList.length"
                (click)="selectAllRows($event)"
              />
            </th>
          </tr>
          
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody class="text-dark mb-1 fs-5" *ngIf = "quotesList && quotesList.length > 0">

          <tr *ngFor = "let quotes of quotesList; let i = index;" [ngStyle]="{ 'background-color': isQuoteSelected(quotes) ? 'lightyellow' : 'inherit' }">
            <td>
              <span (click)="openQuoteDetailsModal(quotes.quoteID)" class="text-hover-primary" style="cursor: pointer;">
               {{quotes.quoteID}}
              </span>
            </td>
            <td>

              <span class="">
                {{quotes.custNmbr}}
              </span>
            </td>
            <td>

              <span class="">
                {{quotes.custName}}
              </span>
            </td>
            <td>
              <span class="">
                {{quotes.contactName}}
              </span>
            </td>
            <td class=""[style.backgroundColor]="getColorByStatus(quotes.status)"[style.color]="'white'">
                 {{quotes.status}}
            </td>
             <td class="">
                 {{quotes.notes}}
            </td>
             <td class=""[style.color]="getColorByPriority(quotes.quotePriority)">
                 {{quotes.quotePriority}}
            </td>
             <td class="">
                 {{quotes.quoteOwner}}
            </td>
            <td class="">
              {{quotes.quotedOn | date : 'medium'}}
             </td>
             <td class="">
                {{quotes.quoteAmount | currency }}
            </td>
            <!-- <td>

            </td> -->
            <td>
              <a [routerLink]="['../../', 'quotes','edit',quotes.quoteID] " class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 ">
              <span
                [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                class="svg-icon svg-icon-3"
              ></span>
            </a>
            </td>
            <td>
              <input
              class="form-check-input widget-9-check"
              style="border:solid; border-color: lightblue; cursor: pointer;"
              type="checkbox"
              [checked]="selectedQuotes.includes(quotes.quoteID)"
              (click)="rowSelect(quotes)"
                  />
            </td>

          </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  </div>


  <app-pagination *ngIf = "paginationObj" [pageNum] = "paginationObj.pageNumber" [pageSize] = "paginationObj.pageSize"
  [totalRecords] ="paginationObj.totalRecordsCount"  (updatePagination) = "updatePagination($event)">

  </app-pagination>

  <!-- begin::Body -->
