<div>
  <div class="modal-header">
    <h4 class="modal-title">Update Quote Status</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">Quote[s] : </label>
        <div class="col-lg-8">
            <span>{{selectedQuoteIds | join}}</span>
        </div>
    </div>
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">New Status :</label>
        <div class="col-lg-8">
            <select class="form-select form-select-solid form-select-lg" name="quoteOwner" [(ngModel)]="selectedStatus">
              <option value="" selected>Select</option>
              <option value="VI">Viewed</option>
              <option value="ID">In Discussion</option>
              <option value="AC">Accepted</option>
              <option value="DE">Declined</option>
              <option value="DR">To Be Sent</option>
              <option value="CN">Cancelled</option>
          </select>
        </div>
    </div>
    </div>
  </div>
  <div class="text-center">
    <h4 class="align-items-center" id="error-msg" style="color: brown;"*ngIf="showErrorMsg">Please Select a Valid Status</h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="updateStatus()">Change Status</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>

