<form class="form w-100" [formGroup]="changePasswordForm" novalidate="novalidate" id="kt_login_signin_form"
  (ngSubmit)="submit()">
  <div class="text-center mb-11">
    <h1 class="text-dark fw-bolder mb-3">
      Change Password
    </h1>
  </div>
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        {{errorMessage}}
      </div>
    </div>
  </ng-container>
  <div class="fv-row mb-8">
    <label class="form-label fs-6 fw-bolder text-dark">Current Password</label>
    <input class="form-control bg-transparent" type="password" name="email" formControlName="currentPassword" autocomplete="off"
      [ngClass]="{
        'is-invalid': changePasswordForm.controls['currentPassword'].invalid,
        'is-valid': changePasswordForm.controls['currentPassword'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Current password is required',
        control: changePasswordForm.controls['email']
      }"></ng-container>
  </div>
  <div class="fv-row mb-3">

    <label class="form-label fw-bolder text-dark fs-6 mb-0">New Password</label>

    <input class="form-control bg-transparent" type="password" name="newPassword" autocomplete="off"
      formControlName="newPassword" [ngClass]="{
        'is-invalid': changePasswordForm.controls['newPassword'].invalid,
        'is-valid': changePasswordForm.controls['newPassword'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'New password is required',
        control: changePasswordForm.controls['newPassword']
      }"></ng-container>
  </div>
  <div class="fv-row mb-3">

    <label class="form-label fw-bolder text-dark fs-6 mb-0">Confirm Password</label>

    <input class="form-control bg-transparent" type="password" name="confirmPassword" autocomplete="off"
      formControlName="confirmPassword" [ngClass]="{
        'is-invalid': changePasswordForm.controls['confirmPassword'].invalid,
        'is-valid': changePasswordForm.controls['confirmPassword'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Confirm password is required',
        control: changePasswordForm.controls['confirmPassword']
      }"></ng-container>
  </div>
  <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
    <div></div>
  </div>
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Please wait...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Continue</span>
      </ng-container>
    </button>
    <br>
    <button type="submit" class="btn btn-primary" (click)="goBack()">Cancel</button>
  </div>
</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <!-- <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container> -->
</ng-template>
