<div class="card-body p-0">
  <!-- begin::Header -->
  <div class="px-9 pt-7 card-rounded h-275px w-100" [ngClass]="'bg-' + color">
    <!-- begin::Heading -->
    <div class="d-flex flex-stack">
      <h3 class="m-0 text-white fw-bolder fs-3">Sales Summary</h3>
      <div class="ms-1">
        <!-- begin::Menu -->
        <!-- <button
          type="button"
          class="
            btn btn-sm btn-icon btn-color-white btn-active-white
            border-0
            me-n3
          "
          [ngClass]="'btn-active-color-' + color"
          data-kt-menu-trigger="click"
          data-kt-menu-placement="bottom-end"
          data-kt-menu-flip="top-end"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
            class="svg-icon svg-icon-2"
          ></span>
        </button>
        <app-dropdown-menu1></app-dropdown-menu1> -->
        <!-- end::Menu -->
      </div>
    </div>
    <!-- end::Heading -->
    <!-- begin::Balance -->
    <div class="d-flex text-center flex-column text-white pt-8">
      <span class="fw-bold fs-7">Balance</span>
      <span class="fw-bolder fs-2x pt-1">${{totalBalance | number : '1.2-2'}}</span>
    </div>
    <!-- end::Balance -->
  </div>
  <!-- end::Header -->
  <!-- begin::Items -->

  <div class="card-p mt-n20 position-relative">
    <!-- begin::Row -->
    <div class="row g-0" data-container="body" data-toggle="tooltip" data-placement="top" title="Example content">
      <!-- begin::Col -->
      <div class="col bg-light-warning px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-warning d-block my-2"
        ></span>
        <div flex-grow-1 me-2>
          <a href="#" class="text-warning fw-bold fs-6">{{salesData[0].statusDesc}}</a>
          <br>
          <span>{{salesData[0].countStatus}}</span>
        </div>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-primary px-6 py-8 rounded-2 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-primary d-block my-2"
        ></span>
        <a href="#" class="text-primary fw-bold fs-6">{{salesData[1].statusDesc}}</a>
        <br>
        <span>{{salesData[1].countStatus}}</span>
        <br>
        <span>{{salesData[1].quoteAmount}}</span>
      </div>
      <!-- end::Col -->
    </div>
    <!-- end::Row -->
    <!-- begin::Row -->
    <div class="row g-0">
      <!-- begin::Col -->
      <div class="col bg-light-danger px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/abs027.svg'"
          class="svg-icon svg-icon-3x svg-icon-danger d-block my-2"
        ></span>
        <a href="#" class="text-danger fw-bold fs-6 mt-2">{{salesData[2].statusDesc}}</a>
        <br>
        <span>{{salesData[2].countStatus}}</span>
        <br>
        <span>{{salesData[2].quoteAmount}}</span>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-success px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/com010.svg'"
          class="svg-icon svg-icon-3x svg-icon-success d-block my-2"
        ></span>
        <a href="#" class="text-success fw-bold fs-6 mt-2">{{salesData[3].statusDesc}}</a>
        <br>
        <span>{{salesData[3].countStatus}}</span>
        <br>
        <span>{{salesData[3].quoteAmount}}</span>
      </div>
      <!-- end::Col -->
    </div>

    <div class="row g-0">
      <!-- begin::Col -->
      <div class="col bg-light-primary px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/abs027.svg'"
          class="svg-icon svg-icon-3x svg-icon-danger d-block my-2"
        ></span>
        <a href="#" class="text-danger fw-bold fs-6 mt-2">{{salesData[4].statusDesc}}</a>
        <br>
        <span>{{salesData[4].countStatus}}</span>
        <br>
        <span>{{salesData[4].quoteAmount}}</span>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-waring px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/com010.svg'"
          class="svg-icon svg-icon-3x svg-icon-success d-block my-2"
        ></span>
        <a href="#" class="text-success fw-bold fs-6 mt-2">{{salesData[5].statusDesc}}</a>
        <br>
        <span>{{salesData[5].countStatus}}</span>
        <br>
        <span>{{salesData[5].quoteAmount}}</span>
      </div>
      <!-- end::Col -->
    </div>
    <!-- end::Row -->
  </div>

  <!-- end::Items -->
</div>
