<div class="card-body p-0">
  <!-- begin::Header -->
  <div class="px-9 pt-7 card-rounded h-275px w-100" [ngClass]="'bg-' + color">
    <!-- begin::Heading -->
    <div class="d-flex flex-stack">
      <h3 class="m-0 text-white fw-bolder fs-3">Accepted Quotes Total</h3>
      <div class="ms-1">
      </div>
    </div>
    <!-- end::Heading -->
    <!-- begin::Balance -->
    <div class="d-flex text-center flex-column text-white pt-8">
      <span class="fw-bold fs-7">Balance</span>
      <span class="fw-bolder fs-2x pt-1">${{salesData[4].quoteAmount | number : '1.2-2'}}</span>
    </div>
    <!-- end::Balance -->
  </div>
  <!-- end::Header -->
  <!-- begin::Items -->

  <div class="card-p mt-n20 position-relative">
    <!-- begin::Row -->
    <div class="row g-0" data-container="body" data-toggle="tooltip" data-placement="top" title="Example content">
      <!-- begin::Col -->
      <div class="col bg-light-warning px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-warning d-block my-2"
        ></span>
        <div flex-grow-1 me-2>
          <a href="#" class="text-warning fw-bold fs-6">{{salesData[0].statusDesc}}</a>
          <br>
          <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">{{salesData[0].countStatus}}</span>
        </div>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-primary px-6 py-8 rounded-2 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-primary d-block my-2"
        ></span>
        <a href="quotes/list?status=RT" class="text-primary fw-bold fs-6">{{salesData[1].statusDesc}}</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">{{salesData[1].countStatus}}</span>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">${{salesData[1].quoteAmount | number : '1.2-2'}}</span>
      </div>
      <!-- end::Col -->
    </div>
    <!-- end::Row -->
    <!-- begin::Row -->
    <div class="row g-0">
      <!-- begin::Col -->
      <div class="col bg-light-danger px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'.../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-danger d-block my-2"
        ></span>
        <a href="#" class="text-danger fw-bold fs-6 mt-2">{{salesData[2].statusDesc}}</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">{{salesData[2].countStatus}}</span>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">${{salesData[2].quoteAmount | number : '1.2-2'}}</span>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-success px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-success d-block my-2"
        ></span>
        <a href="#" class="text-success fw-bold fs-6 mt-2">{{salesData[3].statusDesc}}</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">{{salesData[3].countStatus}}</span>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">${{salesData[3].quoteAmount | number : '1.2-2'}}</span>
      </div>
      <!-- end::Col -->
    </div>

    <div class="row g-0">
      <!-- begin::Col -->
      <div class="col bg-light-primary px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-primary d-block my-2"
        ></span>
        <a href="#" class="text-primary fw-bold fs-6 mt-2">{{salesData[4].statusDesc}}</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">{{salesData[4].countStatus}}</span>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">${{salesData[4].quoteAmount | number : '1.2-2'}}</span>
      </div>
      <!-- end::Col -->
      <!-- begin::Col -->
      <div class="col bg-light-info px-6 py-8 rounded-2 me-7 mb-7">
        <span
          [inlineSVG]="'../../../../assets/media/icons/duotune/general/gen032.svg'"
          class="svg-icon svg-icon-3x svg-icon-info d-block my-2"
        ></span>
        <a href="#" class="text-danger fw-bold fs-6 mt-2">{{salesData[5].statusDesc}}</a>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">{{salesData[5].countStatus}}</span>
        <br>
        <span class="fs-6 text-gray-800 text-hover-primary fw-bolder">${{salesData[5].quoteAmount | number : '1.2-2'}}</span>
      </div>
      <!-- end::Col -->
    </div>
    <!-- end::Row -->
  </div>

  <!-- end::Items -->
</div>
