<div class="px-7 py-5">
  <div class="fs-5 text-dark fw-bolder"></div>
</div>

<div class="separator border-gray-200"></div>

<div class="px-7 py-5">

  <form [formGroup]="quotefilterForm" novalidate="" class="form">


  <div class="mb-10" *ngIf="showDepartments">
    <label class="form-label fw-bold">Department</label>

    <div>
      <select formControlName="Department"
        class="form-select form-select-solid"
        data-kt-select2="true"
        data-placeholder="Select option"
        data-allow-clear="true"
      >
        <option selected value="A">All</option>
        <option value="M">AM</option>
        <option value="S">Sales</option>
      </select>
    </div>
  </div>

  <div class="mb-10" *ngIf="showManagers">
    <label class="form-label fw-bold">Account Manager</label>
    <div>
      <select formControlName="AccountManager"
        class="form-select form-select-solid"
        data-kt-select2="true"
        data-placeholder="Select option"
        data-allow-clear="true"
      >
      <option value="A">All</option>
      <option *ngFor="let mgr of accountManagers" [value]="mgr.value">
        {{mgr.text}}
      </option>
      </select>
    </div>
  </div>

  <div class="mb-10" *ngIf="showDateRanges">
    <label class="form-label fw-bold">Date Range</label>
    <div>
      <select formControlName="DateRange"
        class="form-select form-select-solid"
        data-kt-select2="true"
        data-placeholder="Select option"
        data-allow-clear="true"
      >
        <option selected value="W">Current Week</option>
        <option value="M">Current Month</option>
        <option value="Q">Current Quarter</option>
        <option value="CY">Current Year</option>
        <option value="PY">Previous Year</option>
      </select>
    </div>
  </div>
</form>
</div>
